.xmarticle {
}

.xm-category-list {
    margin-bottom: 10px;
}

.xm-category-list img {
    max-width: 100%;
}

a.xm-category-image {
    margin: 10px 0 10px 0;
    display: block;
    text-align: center;
    max-height: 120px;
    min-height: 120px;
}

.xm-minibox {
    margin-bottom: 20px;
}

.xm-article-logo {
    max-height: 120px;
    min-height: 120px;
    text-align: center;
    overflow: hidden;
}

.xm-title {
    font-size: 1.3em;
    line-height: inherit;
    margin: 0 0 5px 0;
    display: block;
}

.xm-article-field {
    padding-bottom: 15px;
    border-bottom: 1px dashed #999;
}

.xm-article-general-button {
    text-align: center;
	padding-top: 15px;
}

.xm-article-general.row {
    font-weight: bold;
    color: #999;
    font-size: 1em;
}

.xm-article-general {
    padding-bottom: 5px;
}

.xm-article-data.row {
    font-weight: bold;
    color: #999;
    font-size: 0.8em;
}

.xm-article-data {
    padding-bottom: 5px;
    border-bottom: 1px dashed #999;
}

.xm-article-data ul.xm-article-details {
}

.xm-article-data ul.xm-article-details li {
    margin: 5px 10px 5px 10px;
}

.xm-short-description {
    max-height: 80px;
    min-height: 80px;
    overflow: hidden;
    text-align: justify;
    margin: 5px 0 5px 0;
}